[package]
name = "nosni-proxy"
version = "0.3.2"
authors = ["quininer <quininer@live.com>"]
edition = "2018"
description = "No SNI"
license = "CC0-1.0"

[workspace]
members = [ "check", "mitmca", "hook" ]

[dependencies]
lazy_static = "1"
anyhow = "1"
futures = "0.3"
tokio-rustls = "0.12"
webpki-roots = "0.19"
hyper = "0.13"
tokio = { version = "0.2", features = [ "full" ] }
percent-encoding = "2"
trust-dns-resolver = { version = "0.19", features = [ "dns-over-https-rustls" ] }
mitmca = { path = "mitmca" }

tower-layer = "0.3"
tower-util = "0.3"
tower-limit = "0.3"
tower-happy-eyeballs = { git = "https://github.com/quininer/tower-happy-eyeballs" }

mimallocator = { version = "0.1", optional = true }
rand = "0.7"
rcgen = "0.8"
rustyline = "6"

structopt = "0.3"
serde = { version = "1", features = ["derive"] }
toml = "0.5"
directories = "2"

[features]
dnssec = [ "trust-dns-resolver/dnssec-ring" ]
